<div class="modal-header">
    <h4 class="modal-title">Cadastrar Produto</h4>
</div>
<div class="modal-body">
<form class="form">
    <div class="form-group">
        <label>Nome</label>
        <input type="text" class="form-control" ng-model="nome">
    </div>
    <div class="form-group">
        <label>Descrição</label>
        <input type="text" class="form-control" ng-model="descricao">
    </div>
    <div class="form-group">
            <label>Preço</label>
            <input type="number" class="form-control" ng-model="preco">
        </div>
</form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="ok()">Salvar</button>
    <button type="button" class="btn btn-default" ng-click="cancel()">Fechar</button>
</div>