<!doctype html>
<html lang="pt-BR" ng-app="CatalogoProdutosApp">
  <head>
    <meta charset="utf-8">
    <meta name="keywords" content="Catalago de Produtos, exemplo Angular JS" />
    <meta name="description" content="Exemplo em AngularJS para catalago de Produtos" />
    <meta content="IE=edge, chrome=1" http-equiv="X-UA-Compatible" />
    <title>Catalogo de Produtos</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="app.css" />
    <!-- 3rd party libraries -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
    <script src="bower_components/angular-loading-bar/build/loading-bar.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <!-- Load app main script -->
    <script src="app.module.js"></script>
    <script src="app.config.js"></script>    
    <!-- Load services -->
    <script src="services/authInterceptorService.js?v=2"></script>
    <script src="services/authService.js?v=2"></script>
    <script src="services/produtosService.js?v=2"></script>    
    <!-- Load controllers -->
    <script src="controllers/indexController.js?v=2"></script>
    <script src="controllers/loginController.js?v=2"></script>
    <script src="controllers/produtoModalController.js?v=2"></script>    
    <script src="controllers/produtosController.js?v=2"></script>    
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  </head>
  <body>
      <div class="navbar navbar-inverse navbar-fixed-top" role="navigation" data-ng-controller="indexController">
          <div class="container">
              <div class="navbar-header">
                  <button class="btn btn-success navbar-toggle" data-ng-click="navbarExpanded = !navbarExpanded">
                      <span class="glyphicon glyphicon-chevron-down"></span>
                  </button>
                  <a class="navbar-brand" href="#/">Catalogo de Produtos</a>
              </div>
              <div class="collapse navbar-collapse" data-collapse="!navbarExpanded">
                  <ul class="nav navbar-nav navbar-right">
                      <li data-ng-hide="!authentication.isAuth"><a href="#">Bem Vindo {{authentication.userName}}</a></li>                      
                      <li data-ng-hide="!authentication.isAuth"><a href="" data-ng-click="logOut()">Logout</a></li>
                      <li data-ng-hide="authentication.isAuth"> <a href="#/login">Entrar</a></li>                      
                  </ul>
              </div>
          </div>
      </div>      
      <div class="container">
          <div data-ng-view="">
          </div>
      </div>
      <hr />

    <div id="footer" data-ng-controller="indexController">
        <div class="container">
            <div class="row">
                <div class="col-md-6">                        
                    <p class="text-muted">Token Expira em: {{ authentication.expirationToken | date: 'dd/MM/yyyy HH:mm:ss' }}</p>
                </div>                
            </div>
        </div>
    </div>

  </body>
</html>
